.cache/
artifacts/
docs/
node_modules/
src/
testables/

*.log

.gitignore
.npmignore
.npmrc
.travis.yml
chest-temp.png
deploy.enc
mocha.opts
setup-tests.sh
tsconfig.json
tslint.json
yarn.lock
